<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIKit_Theme_PAFFRefreshControl(刷新器)</key>
	<dict>
		<key>kStandardRefreshControlTextIdel</key>
		<string>下拉刷新</string>
		<key>kStandardRefreshControlTextPulling</key>
		<string>松开即刷新</string>
		<key>kStandardRefreshControlTextRefreshing</key>
		<string>刷新中</string>
		<key>kStandardRefreshControlTextComplete</key>
		<string>完成刷新</string>
		<key>kStandardRefreshArrowImage</key>
		<string>refresh_header_arrow</string>
		<key>kStandardRefreshLoadingImage</key>
		<string>refresh_header_loading</string>
	</dict>
	<key>UIkit_Theme_Main_Colors(全局配置颜色)</key>
	<dict>
		<key>kStandardAppMainColor</key>
		<string>#0b87ff</string>
		<key>kStandardAppMinorColor</key>
		<string>#ffb500</string>
		<key>kStandardCommonInputRegularColor</key>
		<string>#999999</string>
		<key>kStandardCommonInputCursorColor</key>
		<string>#3399ff</string>
		<key>kStandardCommonInputDisableColor</key>
		<string>#dddddd</string>
		<key>kStandardCommonMainTextColor</key>
		<string>#111111</string>
		<key>kStandardCommonMinorTextColor</key>
		<string>#666666</string>
		<key>kStandardCommonWeakTextColor</key>
		<string>#999999</string>
		<key>kStandardCommonDisableTextColor</key>
		<string>#dddddd</string>
		<key>kStandardCommonHyperlibkTextColor</key>
		<string>#576b95</string>
		<key>kStandardCommonWriteTextColor</key>
		<string>#ffffff</string>
		<key>kStandardCommonBackgroundColor</key>
		<string>#ffffff</string>
		<key>kStandardCommonBackground2Color</key>
		<string>#efeff4</string>
		<key>kStandardCommonSeparatorColor</key>
		<string>#e5e5e5</string>
		<key>kStandardCommonWarningColor</key>
		<string>#e64340</string>
	</dict>
	<key>UIKit_Theme_Button(按钮)</key>
	<dict>
		<key>kStandardButtonWidths</key>
		<array>
			<integer>40</integer>
			<integer>24</integer>
			<integer>12</integer>
			<integer>56</integer>
		</array>
		<key>kStandardButtonTitleFonts</key>
		<array>
			<integer>18</integer>
			<integer>16</integer>
			<integer>13</integer>
			<integer>18</integer>
		</array>
		<key>kStandardButtonCornerRadiuses</key>
		<array>
			<integer>5</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<key>kStandardRoundButtonTextColorNormal</key>
		<string>#ffffff</string>
		<key>kStandardRoundButtonTextColorHighlighted</key>
		<string>#e4e2e2</string>
		<key>kStandardRoundButtonTextColorDisabled</key>
		<string>#fefefc</string>
		<key>kStandardRoundButtonBackgroundColorNormal</key>
		<string>#0b87ff</string>
		<key>kStandardRoundButtonBackgroundColorHighlighted</key>
		<string>#348be2</string>
		<key>kStandardRoundButtonBackgroundColorDisabled</key>
		<string>#9bcdfd</string>
		<key>kStandardLineButtonTextColorNormal</key>
		<string>#0b87ff</string>
		<key>kStandardLineButtonTextColorHighlighted</key>
		<string>#b5d1fd</string>
		<key>kStandardLineButtonTextColorDisabled</key>
		<string>#e8f2fe</string>
		<key>kStandardLineButtonBackgroundColorNormal</key>
		<string>#ffffff</string>
		<key>kStandardLineButtonBackgroundColorHighlighted</key>
		<string>#eaf5ff</string>
		<key>kStandardLineButtonBackgroundColorDisabled</key>
		<string>#ffffff</string>
		<key>kStandardLineButtonBorderColor</key>
		<string>#e4e2e2</string>
		<key>kStandardLineButtonDisabledBorderColor</key>
		<string>#e8f2fe</string>
		<key>kStandardEmptyButtonTextColorNormal</key>
		<string>#333333</string>
		<key>kStandardEmptyButtonTextColorHighlighted</key>
		<string>#999999</string>
	</dict>
	<key>UIKit_Theme_TextFiled(输入框)</key>
	<dict>
		<key>kStandardTextFieldTextColorSubGrey</key>
		<string>#999999</string>
		<key>kStandardTextFieldTextColorDisGrey</key>
		<string>#dddddd</string>
		<key>kStandardTextFieldTextColorFocus</key>
		<string>#4a4a4a</string>
		<key>kStandardTextFieldTextColorRed</key>
		<string>#cc0000</string>
		<key>kStandardTextFieldTextColorBlack</key>
		<string>#111111</string>
		<key>kStandardTextFieldCornerRadius</key>
		<real>4</real>
		<key>kStandardTextFieldPlaceholderTextFontSize</key>
		<integer>16</integer>
		<key>kStandardTextFieldTitleTextFontSize</key>
		<integer>11</integer>
		<key>kStandardTextFieldTextFontSize</key>
		<integer>16</integer>
	</dict>
	<key>UIKit_Theme_CheckBox</key>
	<dict>
		<key>kStandardCheckBoxLinkColor</key>
		<string>#1773D0</string>
	</dict>
	<key>UIKit_Theme_VerifyCode_TextFiled(短信验证码输入框)</key>
	<dict>
		<key>kStandardVerifyCodeTextFieldPlaceholderTextFontSize</key>
		<integer>16</integer>
		<key>kStandardVerifyCodeTextFieldButtonTextFontSize</key>
		<integer>16</integer>
		<key>kStandardVerifyCodeTextFieldButtonNormalTextColor</key>
		<string>#111111</string>
		<key>kStandardVerifyCodeTextFieldButtonHighlightedTextColor</key>
		<string>#999999</string>
		<key>kStandardVerifyCodeTextFieldButtonDisabledTextColor</key>
		<string>#111111</string>
	</dict>
	<key>UIKit_Theme_Security_Keyboard(安全键盘)</key>
	<dict>
		<key>kStandardSecurityKeyBoradDoneBtnBgColor</key>
		<string>#0b87ff</string>
		<key>kStandardSecurityKeyBoradDoneBtnBgDisableColor</key>
		<string>#dddddd</string>
		<key>kStandardSecurityKeyBoardDoneBtnTitleNormalColor</key>
		<string>#ffffff</string>
		<key>kStandardSecurityKeyBoardDoneBtnTitleDisableColor</key>
		<string>#111111</string>
		<key>kStandardSecurityKeyBoardDoneBtnTitleHighLightColor</key>
		<string>#e4e2e2</string>
		<key>kStandardSecurityKeyboardBgColor</key>
		<string>#bfbfbf</string>
		<key>kStandardSecurityKeyboardDeleteBtnNormalTextColor</key>
		<string>#d1d5db</string>
		<key>kStandardSecurityKeyboardDeleteBtnHighlightedTextColor</key>
		<string>#e5e5e5</string>
		<key>kStandardSecurityKeyBoardForgetBtnTitleNormalColor</key>
		<string>#3399ff</string>
		<key>kStandardSecurityKeyBoardForgetBtnTitleHighLightColor</key>
		<string>#3399ff</string>
	</dict>
	<key>UIKit_Theme_PopupView(弹出框基类)</key>
	<dict>
		<key>kStandardPopupViewCancelButtonTextFontSize</key>
		<integer>16</integer>
		<key>kStandardPopupViewDoneButtonTextFontSize</key>
		<integer>16</integer>
		<key>kStandardPopupViewTitleLabelTextFontSize</key>
		<integer>18</integer>
		<key>kStandardPopupViewCancelButtonNormaTitleColor</key>
		<string>#666666</string>
		<key>kStandardPopupViewCancelButtonHighlightedTitleColor</key>
		<string>#111111</string>
		<key>kStandardPopupViewCancelButtonDisabledTitleColor</key>
		<string>#666666</string>
		<key>kStandardPopupViewDoneButtonNormalTitleColor</key>
		<string>#111111</string>
		<key>kStandardPopupViewDoneButtonHighlightedTitleColor</key>
		<string>#666666</string>
		<key>kStandardPopupViewDoneButtonDisabledTitleColor</key>
		<string>#999999</string>
		<key>kStandardPopupViewTitleLabelTextColor</key>
		<string>#111111</string>
		<key>kStandardPopupViewBgColor</key>
		<string>#f9f9f9</string>
		<key>kStandardPopupViewTopViewsAlignType</key>
		<integer>0</integer>
	</dict>
	<key>UIKit_Theme_Picker(选择器)</key>
	<dict>
		<key>kStandardPickerRowNormalTextFontSize</key>
		<integer>18</integer>
		<key>kStandardPickerRowSelectedTextFontSize</key>
		<integer>18</integer>
		<key>kStandardPickerBackgroundColor</key>
		<string>#efeff4</string>
		<key>kStandardPickerRowNormalTextColor</key>
		<string>#bbbbbb</string>
		<key>kStandardPickerRowSelectedTextColor</key>
		<string>#111111</string>
		<key>kStandardPickerRowSelectedBgColor</key>
		<string>#ffffff</string>
		<key>kStandardPickerRowHeight</key>
		<integer>8</integer>
	</dict>
	<key>UIKit_Theme_TableViewCell(列表Cell)</key>
	<dict>
		<key>kStandardTableViewCellTitleLabelAndTitleImageViewSpace</key>
		<integer>2</integer>
		<key>kStandardTableViewCellTitleColor</key>
		<string>#111111</string>
		<key>kStandardTableViewCellSubtitleColor</key>
		<string>#999999</string>
		<key>kStandardTableViewCellDetailColor</key>
		<string>#999999</string>
		<key>kStandardTableViewCellTitleFontSize</key>
		<integer>17</integer>
		<key>kStandardTableViewCellSubtitleFontSize</key>
		<integer>14</integer>
		<key>kStandardTableViewCellDetailFontSize</key>
		<integer>14</integer>
	</dict>
	<key>UIKit_Theme_AlertView(对话弹出框)</key>
	<dict>
        <key>kStandardAlertViewLabelTextAlignment</key>
        <string>1</string>
		<key>kStandardAlertViewButtonsTextFontSize</key>
		<integer>16</integer>
		<key>kStandardAlertViewLineButtonNormalTextColor</key>
		<string>#0b87ff</string>
		<key>kStandardAlertViewLineButtonHighlightedTextColor</key>
		<string>#b5d1fd</string>
		<key>kStandardAlertViewLineButtonDisabledTextColor</key>
		<string>#e8f2fe</string>
		<key>kStandardAlertViewLineButtonNormalBackgroundColor</key>
		<string>#ffffff</string>
		<key>kStandardAlertViewLineButtonHighlightedBackgroundColor</key>
		<string>#eaf5ff</string>
		<key>kStandardAlertViewLineButtonDisabledBackgroundColor</key>
		<string>#ffffff</string>
		<key>kStandardAlertViewLineButtonBorderColor</key>
		<string>#0b87ff</string>
		<key>kStandardAlertViewWarningRoundButtonNormalTextColor</key>
		<string>#ffffff</string>
		<key>kStandardAlertViewWarningRoundButtonHighlightedTextColor</key>
		<string>#ffffff</string>
		<key>kStandardAlertViewWarningRoundButtonDisabledTextColor</key>
		<string>#ffffff</string>
		<key>kStandardAlertViewWarningRoundButtonNormalBackgroundColor</key>
		<string>#e64340</string>
		<key>kStandardAlertViewWarningRoundButtonHighlightedBackgroundColor</key>
		<string>#e64340</string>
		<key>kStandardAlertViewWarningRoundButtonDisabledBackgroundColor</key>
		<string>#dddddd</string>
		<key>kStandardAlertViewWaringRoundButtonBorderColor</key>
		<string>#e64340</string>
	</dict>
	<key>UIKit_Theme_Toast(吐司)</key>
	<dict>
		<key>kStandardToastCornerRadius</key>
		<integer>6</integer>
	</dict>
	<key>UIKit_Theme_Loading(加载框)</key>
	<dict>
		<key>kStandardLoadingBackgroundColor</key>
		<string>#000000</string>
		<key>kStandardLoadingBackgroundAlpha</key>
		<real>0.85</real>
		<key>kStandardLoadingPerFrameDuration</key>
		<real>0.08</real>
		<key>kStandardLoadingImagesCount</key>
		<integer>15</integer>
		<key>kStandardLoadingFailImagesCount</key>
		<integer>4</integer>
		<key>kStandardLoadingSuccessImagesCount</key>
		<integer>6</integer>
		<key>kStandardLoadingNetworkErrorImagesCount</key>
		<integer>4</integer>
	</dict>
	<key>UIKit_Theme_MoneyInputDialog(金额输入框)</key>
	<dict>
		<key>kStandardMoneyAndBankCardInputDialogSubTitleTextFontSize</key>
		<integer>14</integer>
	</dict>
	<key>UIKit_Theme_SmsInputDialog(短信输入框)</key>
	<dict>
		<key>kStandardSmsCodeDialogAmountTitleColor</key>
		<string>#666666</string>
		<key>kStandardSmsCodeDialogAmountTextColor</key>
		<string>#56a2ef</string>
		<key>kStandardSmsCodeDialogAmountTextFontSize</key>
		<string>14</string>
		<key>kStandardSmsCodeDialogAmountTitleFontSize</key>
		<string>14</string>
		<key>kStandardSmsCodeDialogMessageTextFontSize</key>
		<integer>14</integer>
	</dict>
	<key>UIKit_Theme_PasswordInputDialog(密码输入框)</key>
	<dict>
		<key>kStandardSecurityPasswordDialogMessageTextFontSize</key>
		<integer>14</integer>
	</dict>
	<key>UIKit_Theme_NavigationBar(导航栏)</key>
	<dict>
		<key>kStandardNavigationBarTitleFontSize</key>
		<integer>18</integer>
		<key>kStandardNavigationBarButtonFontSize</key>
		<integer>16</integer>
		<key>kStandardNavigationBarBgColor</key>
		<string>#1673d0</string>
		<key>kStandardNavigationBarBtnsNormalTextColor</key>
		<string>#ffffff</string>
		<key>kStandardNavigationBarBtnsHighlightedTextColor</key>
		<string>#d0d5db</string>
		<key>kStandardNavigationBarTitleColor</key>
		<string>#ffffff</string>
	</dict>
	<key>App_Updrade_Theme(强制升级)</key>
	<dict>
		<key>kUpgradeBtnTextColorNormal</key>
		<string>#e60012</string>
		<key>kUpgradeBtnCancelTextColor</key>
		<string>#666666</string>
		<key>kUpgradeBtnBackgroundColor</key>
		<string>#ffffff</string>
		<key>kUpgradeMessageTextColor</key>
		<string>#333333</string>
	</dict>
	<key>App_LanuchPage_Theme(新手引导页)</key>
	<dict>
		<key>kLanuchPageControlColorDefault</key>
		<string>#808080</string>
		<key>kLanuchPageControlColorSelect</key>
		<string>#e64340</string>
		<key>kLanuchSkipButtonColor</key>
		<string>#999999</string>
		<key>kSkipButtonTitle</key>
		<string>跳过</string>
		<key>kLanuchStartButtonColor</key>
		<string>#999999</string>
		<key>kStartButtonTitle</key>
		<string>立即体验</string>
		<key>kSkipButtonShow</key>
		<integer>1</integer>
		<key>kLanuchPageControlShow</key>
		<integer>1</integer>
		<key>kLanuchImagePageCount</key>
		<integer>3</integer>
		<key>kLanuchPageControlLastPageShow</key>
		<integer>0</integer>
		<key>kLanuchStartButtonButtonShow</key>
		<integer>1</integer>
		<key>kClickLastPageEnableClose</key>
		<integer>1</integer>
	</dict>
	<key>Others_Theme</key>
	<dict>
		<key>kCarViolation_detailText_lightGrey</key>
		<string>#cccccc</string>
		<key>kCardBox_detailText_brown</key>
		<string>#675853</string>
		<key>kCardBox_detailText_red</key>
		<string>#ff3222</string>
		<key>kCardBox_listbg_grey</key>
		<string>#cccccc</string>
		<key>kCardBox_titlebg_white</key>
		<string>#ffffff</string>
		<key>kCardBox_topInfor_brownText</key>
		<string>#beb8b6</string>
		<key>kCommon_bg_brown</key>
		<string>#e62129</string>
		<key>kCommon_navigator_btn_nor</key>
		<string>#ffffff</string>
		<key>kCommon_navigator_btn_selected</key>
		<string>#52515c</string>
		<key>kCommon_bg_lightGrey</key>
		<string>#f7f7f7</string>
		<key>kCommon_bottomTab_bg</key>
		<string>#ffffff</string>
		<key>kCommon_bottomTab_text_nor</key>
		<string>#999999</string>
		<key>kCommon_bottomTab_text_selected</key>
		<string>#6a534f</string>
		<key>kCommon_btnBg_darkBrown_nor</key>
		<string>#63534e</string>
		<key>kCommon_btnBg_darkBrown_pre</key>
		<string>#4d413e</string>
		<key>kCommon_btnBg_lightYellow_nor</key>
		<string>#ffe7bc</string>
		<key>kCommon_btnBg_lightYellow_pre</key>
		<string>#fddca1</string>
		<key>kCommon_btnBg_red_nor</key>
		<string>#e43523</string>
		<key>kCommon_btnBg_red_pre</key>
		<string>#db2000</string>
		<key>kCommon_btnText_darkBrown</key>
		<string>#63534e</string>
		<key>kCommon_btnText_lightYellow</key>
		<string>#ffe7bc</string>
		<key>kCommon_btnText_white</key>
		<string>#ffffff</string>
		<key>kCommon_detailText_lightGrey</key>
		<string>#999999</string>
		<key>kCommon_detailText_midGrey</key>
		<string>#666666</string>
		<key>kCommon_titleText_darkGrey</key>
		<string>#111111</string>
		<key>kCommon_detailText_orange</key>
		<string>#ff7800</string>
		<key>kCommon_detailText_red</key>
		<string>#e43523</string>
		<key>kCommon_detailText_red02</key>
		<string>#e73315</string>
		<key>kCommon_detailText_supperLightGrey</key>
		<string>#dddddd</string>
		<key>kCommon_line_Grey</key>
		<string>#dddddd</string>
		<key>kCommon_listBg_white_nor</key>
		<string>#ffffff</string>
		<key>kCommon_listBg_white_pre</key>
		<string>#eeeeee</string>
		<key>kCommon_text_brown</key>
		<string>#6a534f</string>
		<key>kCommon_text_darkBrown</key>
		<string>#63534e</string>
		<key>kCommon_topInforText_brown</key>
		<string>#b59792</string>
		<key>kCommon_topInforText_lightyellow</key>
		<string>#ffe7bc</string>
		<key>kCommon_topInforText_white</key>
		<string>#ffffff</string>
		<key>kCommon_tostBg_black</key>
		<string>#990000</string>
		<key>kCommon_tostText_white</key>
		<string>#ffffff</string>
		<key>kFinancin_listDetailText_lightBrown</key>
		<string>#9a8f8d</string>
		<key>kFinancin_listTitleText_red</key>
		<string>#d78d85</string>
		<key>kHomePage_listTitleText_lightBrown</key>
		<string>#9a8e8c</string>
		<key>kLifeService_list_priceText</key>
		<string>#f2761c</string>
		<key>kLifeService_menuTab_text_nor</key>
		<string>#63534d</string>
		<key>kLifeService_menuTab_text_selected</key>
		<string>#f19149</string>
		<key>kLogin_DetailText_brown</key>
		<string>#6a534f</string>
		<key>kMessageCenter_btnBg_red</key>
		<string>#ff675b</string>
		<key>kMessageCenter_btntext_red</key>
		<string>#ffffff</string>
		<key>kCredit_detailText_brown</key>
		<string>#ad9d98</string>
		<key>kCredit_detailText_red</key>
		<string>#e73315</string>
		<key>kCredit_progressBarEdge_end</key>
		<string>#825c44</string>
		<key>kCredit_progressBarEdge_start</key>
		<string>#82484b</string>
		<key>kCredit_progressBarSpot_end</key>
		<string>#746546</string>
		<key>kCredit_progressBar_end</key>
		<string>#ffce00</string>
		<key>kCredit_progressBar_start</key>
		<string>#ff0048</string>
		<key>kCredit_textBg_darkGrey</key>
		<string>#33363a</string>
		<key>kCredit_text_black</key>
		<string>#000000</string>
		<key>kCredit_yellow</key>
		<string>#f8ca29</string>
		<key>finance_headerLabel_lightGray</key>
		<string>#9c8680</string>
		<key>kApply_separator_lightGray</key>
		<string>#dddddd</string>
		<key>kNavigationBarTitltColor</key>
		<string>#ffffff</string>
		<key>kWealthCenterTextColor</key>
		<string>#e73315</string>
		<key>kOCRGoToNextBtnColor</key>
		<string>#f22222</string>
		<key>kCarAndHouseHeaderBackgroundColor</key>
		<string>#e62129</string>
		<key>kInputAreaBackgroundColor</key>
		<string>#f9f9f9</string>
		<key>kStatusBarStyle</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
